%header
	%h1 Successful Application

	%br
	%br

	%h5 
		%strong Built in Manchester
		has received your application for
		%strong= @listing.name || "Untitled"
		and we'll review it within the next 2 weeks. Thanks!