%header
	%h1 About Us
.about

	%div.questions
		.odd
			.question Who built this?
			.answer
				It was lovingly crafted and engineered to perfection by 19-year-old
				=link_to "Bilawal Hameed", "http://bilaw.al"
				from Manchester, UK.

		.even
			.question Why did you build this?
			.answer
				Manchester has no shortage of awesome startups, and I want to celebrate (and help) them. It's inspired by 
				= link_to("Built in London", "http://www.builtinlondon.co", :target => "_blank") + "."
		.odd
			.question How can my startup join?
			.answer
				Simply, if 50% or more of your workforce is in Manchester, 
				= link_to "click here", startups_apply_path
				to apply.

		.even
			.question How do this site make money?
			.answer The trick is: we don't. Though we are <a href="mailto:b@bilawal.co.uk?subject=Sponsorship+for+Built+in+Manchester">looking for sponsors</a> to subsidise the costs.

		.odd
			.question Some information about my startup is outdated. Help?
			.answer We've got you covered. Shoot us an email at <a href="mailto:b@bilawal.co.uk">b@bilawal.co.uk</a> and we'll sort it.

		.even
			.question Do you have an API?
			.answer
				It's not ready quite yet. We will consider it in the near future when we have enough startups listed.
