$font-family: 'Divulge', 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', 'Verdana', 'Times New Roman', 'sans-serif';
$font-family-alt: 'Proxima Nova', 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', 'Verdana', 'Times New Roman', 'sans-serif';

body {
	 font-smoothing: antialiased;
}

.relative {
	position: relative;
}

// LEGACY
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;

  input, select, textarea {
  	border: 1px solid #C50000;
  }
}

#error_explanation {
  width: 450px;
  padding: 5px;
  font-family: $font-family-alt;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #C50000;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0 0 0 5px;
    font-size: 14px;
    color: #fff;
    margin: 0;
  }
  ul {
  	padding: 0 0 5px 7px;
  }
  ul li {
    font-size: 14px;
    list-style: square inside;
    color: #fff;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { nav h1 { background-size: 132px 70px; background-position: 0 20px; } }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

// DESIGN
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-alt;
	font-weight: 400;
	text-shadow: none;
}

p {
	font-family: $font-family-alt;
	font-size: 17px;
	font-weight: 400;
}

// BLOCK
.block-header {
	background: #00c5b4;
	height: 115px;
}

// NAVIGATION
nav {
	padding: 20px 0 0;

	ul {
		padding: 10px 0;
	}

	ul li {
		padding: 8px 10px 8px 10px;
		margin: 3px 0;
		border-left: 3px solid #fff;

		&:hover { border-left: 3px solid #00c5b4; }

		&.other:hover { border-left: 3px solid #000; }
		// &.other a, &.other a:visited { color: #000; }
	}

	ul li a {
		display: block;
		font-family: $font-family;
		text-transform: uppercase;
		// color: #000c5b4;
		color: #181818;
		font-size: 15px;
		text-decoration: none;

		// &:visited { color: #00c5b4; }
		&:visited { color: #181818; }
		&:hover { text-decoration: none; }
	}

	ul li.active {
		border-left: 3px solid #00c5b4;

		&.other { border-left: 3px solid #000; }
		a:hover { text-decoration: none; }
	}
}

//
// LOGO
//
nav h1 {
	background: url(logo@2x.png) no-repeat 13px 0;
	background-size: 193px 100px;
	width: 206px;
	height: 100px;

	a { display: block; width: 100%; height: 100%; }
	a span { display: none; }
}

//
// HEADER
//
header {
	padding-top: 35px;
}
header h1 {
	font-family: $font-family-alt;
	font-size: 30px;
	font-weight: 800;
	color: #fff;
	background: #00c5b4;
	padding: 5px;
	margin: 0;
	display: inline-block;

	span.search {
		outline: none;
		display: inline-block;
		min-width: 40px;
		text-shadow: 0 1px #999;
	}
}


//
// SECTION
//
section {
	padding: 10px;

	.content {
		padding: 15px 0 0;
	}
}

// FORMS
.form-label {
	font-family: $font-family;
	font-size: 15px;
	text-transform: uppercase;
	vertical-align: middle;
	
	span {
		display: block;
		padding-top: 10px;

		attr {
			display: block;
			color: #999;
		}

		label {
			font-weight: normal;
			font-size: 15px;
		}
	}
}

.form-field {


	input {
		font-family: $font-family-alt;
		font-size: 15px;
		padding: 10px;
		min-width: 250px;
	}

	option {
		font-family: $font-family;
		font-size: 15px;
	}

	textarea {
		font-family: $font-family-alt;
		font-size: 15px;
		padding: 10px;
		min-width: 250px;
		max-height: 100px;
		line-height: 24px;
		resize: none;
	}
}

.progress-icon {
	background: url(loader.gif) no-repeat;
	width: 50px;
	height: 50px;
	margin: 10px;

	&.disabled { display: none; }
}

// ADMIN
table.admin {

	tr {
		border-bottom: 1px solid #ddd;

		&:first-child { border-bottom: none; }
	}

	th {
		font-family: $font-family;
		font-size: 15px;
		text-transform: uppercase;
		background: #00c5b4;
		color: #fff;
		padding: 5px 0;
	}

	td {
		vertical-align: top;
		padding: 3px 5px;

		span.image {
			display: block;
			float: left;
			max-width: 200px;
		}

		span.info {
			display: block;
			float: left;
			width: 300px;
		}

		img {
			max-width: 150px;
		}

		span.yes, span.no {
			display: block;
			background: url(yesno.png) no-repeat;
			background-size: 100px 59px;
			width: 50px;
			height: 59px;
		}

		span.no {
			background-position: -50px 0;
		}
	}
}



